* {
  margin: 0px;
  padding: 0px;
}

body {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    max-height: 100px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 8px;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:whitesmoke;

    margin: 128px;
    gap: 16px
}
img#groupimage {
  max-width: 50vw;
}


.section-2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:yellowgreen;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px;
  background-color:bisque;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 32px;
  background-color:aqua;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: blueviolet;
}
h2#quote{
    max-width: 60vw;
}

a, a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: powderblue;
}
