* {
  margin: 0px;
  padding: 0px;
}

/*     */
body {
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
}

.logo {
    max-height: 100px;
}

.content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.header, ul, .section-1, .section-3, .section-4, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

 /**/
.header {
  padding: 0;
  justify-content: space-around;
  background-color: #fad4d8;
  

  position: fixed;
  width: 100%;

}

/**/
.section-1 {
  background-color: #fad4d8;
  
}

img#groupimage {
  max-width: 35vw;
}
div#text1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 35vw;
}
/**/
.section-2{
  flex-direction: column;
  padding: 32px;
  background-color: #b4ceb3;
}

.title-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.image-2, .text-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: unset;
  column-gap: 16px;
}

.image-2 img, .text-2 h6{
  max-width: 150px;
}

/**/
.section-3 {
  background-color: #88a0a8;
}
#quote {
  max-width: 60vw;
}
#author {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/**/
div.section-4 {
  background-color: #546a76;
  display: flex;
  justify-content: space-evenly;
}
/**/
.footer {
  margin-top: auto;
  background-color: #9b5094;
}

ul {
  list-style-type: none;
  padding: 0;
  gap: 16px;
}

a, a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: powderblue;
}

img {
  border-radius: 10px;
}
